@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Word Chain Puzzle</h1>
    <p>
        @using(Html.BeginForm("GetChain", "HomeController", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "");
                <table>
                    <tr>
                        <th>First word</th>
                        <td>
                            @Html.TextBoxFor(tb => tb.FirstWord)
                            @Html.ValidationMessageFor(model => model.FirstWord)
                        </td>
                        </tr>
                    <tr>
                        <th>Second word</th>
                        <td>
                            @Html.TextBoxFor(tb => tb.SecondWord)
                            @Html.ValidationMessageFor(model => model.SecondWord)
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <input type="submit" value="Find Chain" />
                        </td>
                    </tr>
                </table>
            }
    </p>
</div>
